body{
    background-color:#b11b39 !important;
}

#centerbox{
    background-color:white;
    
    border:groove #FFD835;

    margin: 0 auto;
    width:425px;
    height:320px;
}

li{
    color:white;
}
h5{
    color:white;
}



/* navbar & jumbotron styling*/

.navbar-default {
  background-color: #b11b39 !important;
  border-color: #b11b39;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #b11b39;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #b11b39;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #b11b39;
  background-color: #b11b39;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #b11b39;
  background-color: #b11b39;
}
.navbar-default .navbar-toggle {
  border-color: #b11b39;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #b11b39;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #b11b39;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #b11b39;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #b11b39;
    background-color: #b11b39;
  }
  
}
  
.jumbokb{
    text-align:center;
    color:#FFD835 !important;
    vertical-align:text-bottom;
}

.jumbotron{
    background:#9E1833 !important;
    height:225px;
}


/* history page styling*/
#histrightbox{
    float:right;
    background-color:#ff9933;

}

#histleftbox{
    float:left;
    background-color:#cc6600;
}
.col-sm-4 col-md-4{
  background-color:#b11b39;
}
.thumbnail{
  background-color:#FFD835;
}
/*end history page styling*/

/*begin training page styling*/


/*end training page styling*/



/*begin WtB page styling*/

/*end Wtb page styling*/


